@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.about {
	text-align: center;
	padding-bottom: 80px;
	padding-top: 100px;

	&__description {
		padding: 0 48px 27px;
		color: $paragraph-color;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		align-items: flex-start;
		padding: 0;
		margin: 0;
	}

	&__item {
		min-width: 250px;
	}

	&__article {
		position: relative;
		display: inline-block;
	}

	&__image-wrapper {
		position: relative;
		display: inline-block;

		&:hover .about__overlay {
			display: block;
		}
	}

	&__image {
		display: block;
		max-width: 100%;
		height: auto;
	}

	&__overlay {
		display: none;
		position: absolute;
		top: -10px;
		left: -10px;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(239, 139, 138, 0.8),
			rgba(229, 207, 130, 0.8)
		);
		z-index: 2;
	}

	&__name {
		padding: 30px 0 11px;
		font-size: 14px;
		font-variant: small-caps;
		font-weight: 400;
		color: $title-color;
		letter-spacing: 0;
	}

	&__role {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		color: $paragraph-color;
		margin: 0;
	}
}
.title--about {
	padding-top: 17px;
	font-size: 30px;
	font-weight: 700;
	font-variant: small-caps;
	color: $title-color;
}

.title--about::after {
	display: block;
	content: '';
	width: 60px;
	height: 4px;
	background-color: $hover-text-color;
	margin: 36px auto 45px;
}
